<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reishel</title>
    <link rel="icon" href="/tienda/img/logo_letra.jpg">
    <link rel="stylesheet" href="/tienda/public/css/style.css">
    <script src="https://kit.fontawesome.com/e8eddfdd15.js" crossorigin="anonymous"></script>
    
</head>
<body>
   
    <header class="header">

        <!--MENU-->
        
        <div class="menu container">
            <a href="" ><img src="/tienda/img/logo.png" alt="" style="margin-bottom: px; width: 170px;"></a>
            <input type="chackbox" id="menu" />
            <label for="menu">
                <img class="menu-icono" alt="menu">
            </label>

            <!--NAVBAR-->

            <nav class="navbar" style="margin-left: -100px; margin-top: 10px;">
                <ul>
                    <li><a href="#" style="font-weight: bold;">INICIO</a></li>
                    <li><a href="#" style="font-weight: bold;">QUIENES SOMOS</a></li>
                    <li><a href="#" style="font-weight: bold;">MATERIALES</a></li>
                    
                </ul>
            </nav>

            <!--SUBMENU-->
            <section style="margin-right: -270px;">
                <a href="login.html" style="color: black;"><i class="fa-solid fa-user fa-lg"></i></a>
                <a href="" style="color: #faf7f7;">aei</a>
                <a href="" style="color: black;"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
                <a href="" style="color: #faf7f7;"></a>
            </section>
            <div>
                <section style="margin-left: 100px;">
                    
                </section>
                <ul>
                    <li class="submenu">
                        <a href="" style="color: #faf7f7;">aei</a>
                        <a href="" style="color: black;"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                        
                        
                        <div id="carrito" >
                            <table id="lista-carrito" >
                                <thead>
                                    <tr>
                                        <th>Imagenes</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                               <tbody></tbody> 
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-content container">
            <div class="header-txt">
                <h1>BOLSOS</h1>
                <img src="/tienda/img/logo.png" alt="">
            </div>
        </div>
    </header>

    <main class="products container" id="lista-1">
        <h2>¡Todos nuestros bolsos!</h2>
       <div class="product-content">
        <div class="product">
            <img src="img/Historia de instagram Tienda de ropa Moderno Blanco y Negro.png" alt="">
            <div class="product-txt">
                <h3>Elisuyum</h3>
                <p>calidad premium</p>
                <p class="precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="1">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="img/Post de Instagram Nueva Colección de Ropa Elegante Beige .png" alt="">
            <div class="product-txt">
                <h3>Elisuyum</h3>
                <p>calidad premium</p>
                <p class="precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="2">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="img/Post de Instagram Nueva Colección Tienda Online Minimalista Blanco y Negro.png" alt="">
            <div class="product-txt">
                <h3>Elisuyum</h3>
                <p>calidad premium</p>
                <p class="precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="3">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="img/Documento A4 Catalogo Tienda de ropa Moderno Negro.png" alt="">
            <div class="product-txt">
                <h3>Elisuyum</h3>
                <p>calidad premium</p>
                <p class="precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="4">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="img/Documento A4 Catalogo Tienda de ropa Moderno Negro (1).png" alt="">
            <div class="product-txt">
                <h3>Elisuyum</h3>
                <p>calidad premium</p>
                <p class="precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="img/Documento A4 Catalogo Tienda de ropa Moderno Negro (1).png" alt="">
            <div class="product-txt">
                <h3>Elisuyum</h3>
                <p>calidad premium</p>
                <p class="precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="img/Documento A4 Catalogo Tienda de ropa Moderno Negro (1).png" alt="">
            <div class="product-txt">
                <h3>Elisuyum</h3>
                <p>calidad premium</p>
                <p class="precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="img/Documento A4 Catalogo Tienda de ropa Moderno Negro (1).png" alt="">
            <div class="product-txt">
                <h3>Elisuyum</h3>
                <p>calidad premium</p>
                <p class="precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="img/Documento A4 Catalogo Tienda de ropa Moderno Negro (2).png" alt="">
            <div class="product-txt">
                <h3>Elisuyum</h3>
                <p>calidad premium</p>
                <p class="precio">$200</p>
                <a href="#" class="agregar-carrito btn-2" data-id="6">Agregar al carrito</a>
            </div>
        </div>
       </div> 
    </main>

  


    <!--FOOTER-->

    <footer class="footer">
        <div class="footer-content container">
            
            <div class="link" style="margin-left: 200px;">
                <h3>Ubicación</h3>
                <ul>
                    <li><a href="#"> <i class="fa-solid fa-location-dot"></i> Bello, Antioquia</a></li>
                    
                    
                    
                </ul>
            </div>
            <div class="link" >
                <h3>Contáctanos</h3>
                <ul>
                    <li><a href="#"> <i class="fa-brands fa-whatsapp"></i> 302 250 13 73</a></li>
                    <li><a href="#"> <i class="fa-regular fa-envelope"></i> darashelui@gmail.com</a></li>
                    
                </ul>
            </div>
            <div class="link" style="margin-right: 230px;">
                <h3>Síguenos</h3>
                <ul>
                    <li><a href="https://www.instagram.com/reishelseg/"> <i class="fa-brands fa-instagram"></i> reishelseg</a></li>
                    <li><a href="https://www.facebook.com/people/reishel/61567383540031/?rdid=UFQZqmCQQ1YlRfO4&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1DDKgRPSbW%2F"> <i class="fa-brands fa-facebook"></i> Reishel</a></li>
                    
                </ul>
            </div>
            
        </div>
    </footer>
    <section class="final">
        <p>© 2024 Reishel. Todos los derechos reservados.</p>
    </section>

   
    

   
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/48070539.js"></script>
<!-- End of HubSpot Embed Code -->
</body>
</html>



