<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reishel</title>
    <link rel="icon" href="/tienda/img/logo_letra.jpg">
    <link rel="stylesheet" href="/tienda/public/css/style.css">
    <script src="https://kit.fontawesome.com/e8eddfdd15.js" crossorigin="anonymous"></script>
    
</head>
<body>
   
    <header class="header">

        <!--MENU-->
        
        <div class="menu container">
            <a href="" ><img src="/tienda/img/logo.png" alt="" style="margin-bottom: px; width: 170px;"></a>
            <input type="chackbox" id="menu" />
            <label for="menu">
                <img class="menu-icono" alt="menu">
            </label>

            <!--NAVBAR-->

            <nav class="navbar" style="margin-left: -100px; margin-top: 10px;">
                <ul>
                    <li><a href="index.html" style="font-weight: bold;">INICIO</a></li>
                    <li><a href="#" style="font-weight: bold;">QUIENES SOMOS</a></li>
                    <li><a href="materiales.html" style="font-weight: bold;">MATERIALES</a></li>
                    <li><a href="login.html" style="font-weight: bold;">MI CUENTA</a></li>
                    
                </ul>
            </nav>

            <!--SUBMENU-->
            <section style="margin-right: -270px;">
                
            
                <a href="" style="color: black;"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
                <a href="" style="color: #faf7f7;">   aei0000</a>
                
            </section>
            <div>
                <section style="margin-left: 100px;">
                    
                </section>
                <ul>
                    <li class="submenu">
                        
                        <a href="" style="color: black;"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                        
                        
                        <div id="carrito" >
                            <table id="lista-carrito" >
                                <thead>
                                    <tr>
                                        <th>Imagenes</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                               <tbody></tbody> 
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div style="text-align: center; margin-left: 270px; margin-top: -100px;">
            <h1 style="font-size:xx-large;">MATERIALES</h1>
            <p style="color: #faf7f7;">fbfbsfbgsb</p>
            <h2 style="font-weight: 300;">Estos son los materiales que utilizamos para hacer nuestros bolsos, 100% a mano.</h2>
    
        </div> 
    </header>

    <main class="products container" id="lista-1" style="margin-top: -200px;">
       <div class="product-content">
        <div class="product" style="background: linear-gradient(to bottom, #000000, #ffffff);">
            <img src="/tienda/img/agujas.jpeg" alt="">
            <div class="product-txt">
                <h3>Agujas.</h3>
                <p>Estas son de diferentes tamaños para darle al nuestros bolsos esas diferentes puntadas muy características.</p>
            </div>
        </div>
        <div class="product">
            <img src="/tienda/img/hilos.jpeg" alt="">
            <div class="product-txt">
                <h3>Hilos.</h3>
                <p>Estos son los protagonistas de nuestros bolsos. Sus colores llamativos hacen que nuestros diseños resalten en todo momento.</p>
                
            </div>
        </div>
        <div class="product" style="background: linear-gradient(to bottom, #000000, #ffffff);">
            <img src="/tienda/img/cartera_mini.jpeg" alt="">
            <div class="product-txt">
                <h3>Accesorios.</h3>
                <p>Estos le dan vida a nuestros bolsos.</p>
                
            </div>
        </div>
        
    </main>

  


    <!--FOOTER-->

    <footer class="footer">
        <div class="footer-content container">
            
            <div class="link" style="margin-left: 200px;">
                <h3>Ubicación</h3>
                <ul>
                    <li><a href="#"> <i class="fa-solid fa-location-dot"></i> Bello, Antioquia</a></li>
                    
                    
                    
                </ul>
            </div>
            <div class="link" >
                <h3>Contáctanos</h3>
                <ul>
                    <li><a href="#"> <i class="fa-brands fa-whatsapp"></i> 302 250 13 73</a></li>
                    <li><a href="#"> <i class="fa-regular fa-envelope"></i> darashelui@gmail.com</a></li>
                    
                </ul>
            </div>
            <div class="link" style="margin-right: 230px;">
                <h3>Síguenos</h3>
                <ul>
                    <li><a href="https://www.instagram.com/reishelseg/"> <i class="fa-brands fa-instagram"></i> reishelseg</a></li>
                    <li><a href="https://www.facebook.com/people/reishel/61567383540031/?rdid=UFQZqmCQQ1YlRfO4&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1DDKgRPSbW%2F"> <i class="fa-brands fa-facebook"></i> Reishel</a></li>
                    
                </ul>
            </div>
            
        </div>
    </footer>
    <section class="final">
        <p>© 2024 Reishel. Todos los derechos reservados.</p>
    </section>

   
    

   
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/48070539.js"></script>
<!-- End of HubSpot Embed Code -->
</body>
</html>



