<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reishel</title>
    <link rel="icon" href="/tienda/img/logo_letra.jpg">
    <link rel="stylesheet" href="/tienda/public/css/prueba.css">
    <script src="https://kit.fontawesome.com/e8eddfdd15.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="anuncio">
        <p>¡Envios a todo Medellín!
            <a href="https://www.instagram.com/reishelseg/" target="_blank"><i class="fa-brands fa-instagram"></i></a> |
            <a href="https://www.facebook.com/people/reishel/61567383540031/?rdid=UFQZqmCQQ1YlRfO4&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1DDKgRPSbW%2F" target="_blank"><i class="fa-brands fa-facebook"></i></a> |
            <a href="https://www.google.com/maps/dir/6.3176704,-75.5433472/6.320109,-75.54976/@6.3156024,-75.5589548,15z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0?entry=ttu&g_ep=EgoyMDI0MTExOC4wIK" target="_blank"><i class="fa-solid fa-location-dot"></i></a> |
            <a href="https://workspace.google.com/intl/es-419/gmail/"><i class="fa-regular fa-envelope"></i></a> |
        </p>
    </div>

   
    <header class="header">

        <!--MENU-->
        
        <div class="menu container">
            <a href="" ><img src="/tienda/img/logo.png" alt="" style="margin-bottom: px; width: 170px;"></a>
            <input type="chackbox" id="menu" />
            <label for="menu">
                <img class="menu-icono" alt="menu">
            </label>

            <!--NAVBAR-->

                <nav class="navbar">
                    <ul>
                        <li><a href="prueba.html">INICIO</a></li>
                        <li><a href="quienes_somos.html">QUIENES SOMOS</a></li>
                        <li><a href="materiales.html">MATERIALES</a></li>
                        <li><a href="contactanos.html">CONTÁCTANOS</a></li>
                        <li><a href="login.html">MI CUENTA</a></li>
                    </ul>
                </nav>


            <!--SUBMENU-->
            <section style="margin-right: -300px;">
                
                <a href="" style="color: #faf7f7;">aei</a>
                <a href="" style="color: black;"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
                <a href="" style="color: #faf7f7;"></a>
            </section>
            <div>
                <section style="margin-left: 100px;">
                    
                </section>
                <ul>
                    <li class="submenu">
                        <a href="" style="color: #faf7f7;">aei</a>
                        <a href="" style="color: black;"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                        
                        
                        <div id="carrito" >
                            <table id="lista-carrito" >
                                <thead>
                                    <tr>
                                        <th>Imagenes</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                               <tbody></tbody> 
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        


        <main class="products container" id="lista-1" >
            <h2 style="margin-bottom: 80px;">Materiales.</h2>
            <h3 style="font-weight: 400; margin-top: -50px;">Estos son los materiales que utilizamos para hacer nuestros bolsos, 100% a mano.</h3>
           <div class="product-content" style="margin-top: 60px;">

            <div class="producto-card" style="margin-left: -30px;">
            </div><div class="producto-card" style="margin-left: -80px;">
                <div class="producto-img-container">
                    <img src="/tienda/img/agujas.jpeg" alt="Cartera Corazón" class="producto-img principal">
                    <img src="/tienda/img/agujas.jpeg" alt="Cartera Corazón Hover" class="producto-img hover">
                    
                </div>
                <div class="producto-detalles">
                    <h3 style="margin-left: -10px;">AGUJAS</h3>
                    <p>Estas son de diferentes tamaños para darle al nuestros bolsos esas diferentes puntadas muy características.</p>
                
                    
                </div>
            </div>
            
            </div><div class="producto-card" style="margin-left: 240px; margin-top: -580px;">
                <div class="producto-img-container">
                    <img src="/tienda/img/hilos.jpeg" alt="Cartera Corazón" class="producto-img principal">
                    <img src="/tienda/img/hilos.jpeg" alt="Cartera Corazón Hover" class="producto-img hover">
                    
                </div>
                <div class="producto-detalles">
                    <h3 style="margin-left: -10px;">HILOS</h3>
                    <p>Estos hilos de alta calidad son la clave para conseguir puntos definidos y uniformes en nuestras creaciones.</p>
                
                    
                </div>
            </div>
            </div><div class="producto-card" style="margin-left: 560px; margin-top: -580px;">
                <div class="producto-img-container">
                    <img src="/tienda/img/bolso_corazon.jpeg" alt="Cartera Corazón" class="producto-img principal">
                    <img src="/tienda/img/bolso_corazon.jpeg" alt="Cartera Corazón Hover" class="producto-img hover">
                    
                </div>
                <div class="producto-detalles">
                    <h3 style="margin-left: -10px;">ACCESORIOS</h3>
                    <p>Estos le dan vida y estilo a nuestros bolsos, transformándolos en piezas relucientes.</p>
                
                    
                </div>
            </div>
                
            
           
            
            
            
           
        </main>
    </header>



    <!--FOOTER-->

    <footer class="footer">
        <div class="footer-content container">
            
            <div class="link" style="margin-left: 200px;">
                <h3>Ubicación</h3>
                <ul>
                    <li><a href="#" style="color: #ffffff;"> <i class="fa-solid fa-location-dot"></i> Bello, Antioquia</a></li>
                    
                    
                    
                </ul>
            </div>
            <div class="link" >
                <h3>Contáctanos</h3>
                <ul>
                    <li><a href="#" style="color: #ffffff;"> <i class="fa-brands fa-whatsapp"></i> 302 250 13 73</a></li>
                    <li><a href="#" style="color: #ffffff;"> <i class="fa-regular fa-envelope"></i> darashelui@gmail.com</a></li>
                    
                </ul>
            </div>
            <div class="link" style="margin-right: 230px;">
                <h3>Síguenos</h3>
                <ul>
                    <li><a href="https://www.instagram.com/reishelseg/" style="color: #ffffff;"> <i class="fa-brands fa-instagram"></i> reishelseg</a></li>
                    <li><a href="https://www.facebook.com/people/reishel/61567383540031/?rdid=UFQZqmCQQ1YlRfO4&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1DDKgRPSbW%2F" style="color: #ffffff;"> <i class="fa-brands fa-facebook"></i> Reishel</a></li>
                    
                </ul>
            </div>
            
        </div>
    </footer>
    <section class="final">
        <p style="text-align: center;">© 2024 Reishel. Todos los derechos reservados.</p>
    </section>


   
    

   
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/48070539.js"></script>
<!-- End of HubSpot Embed Code -->
</body>
</html>