<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reishel</title>
    <link rel="icon" href="/tienda/img/logo_letra.jpg">
    <link rel="stylesheet" href="/tienda/public/css/prueba.css">
    <script src="https://kit.fontawesome.com/e8eddfdd15.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="anuncio">
        <p>¡Envios a todo Medellín!
            <a href="https://www.instagram.com/reishelseg/" target="_blank"><i class="fa-brands fa-instagram"></i></a> |
            <a href="https://www.facebook.com/people/reishel/61567383540031/?rdid=UFQZqmCQQ1YlRfO4&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1DDKgRPSbW%2F" target="_blank"><i class="fa-brands fa-facebook"></i></a> |
            <a href="https://www.google.com/maps/dir/6.3176704,-75.5433472/6.320109,-75.54976/@6.3156024,-75.5589548,15z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0?entry=ttu&g_ep=EgoyMDI0MTExOC4wIK" target="_blank"><i class="fa-solid fa-location-dot"></i></a> |
            <a href="https://workspace.google.com/intl/es-419/gmail/"><i class="fa-regular fa-envelope"></i></a> |
        </p>
    </div>

   
    <header class="header">

        <!--MENU-->
        
        <div class="menu container">
            <a href="" ><img src="/tienda/img/logo.png" alt="" style="margin-bottom: px; width: 170px;"></a>
            <input type="chackbox" id="menu" />
            <label for="menu">
                <img class="menu-icono" alt="menu">
            </label>

            <!--NAVBAR-->

                <nav class="navbar" style="margin-right: 100px;">
                    <ul>
                        <li><a href="prueba.html">INICIO</a></li>
                        <li><a href="quienes_somos.html">QUIENES SOMOS</a></li>
                        <li><a href="materiales.html">MATERIALES</a></li>
                        <li><a href="contactanos.html">CONTÁCTANOS</a></li>
                        <li><a href="login.html">MI CUENTA</a></li>
                    </ul>
                </nav>


            <!--SUBMENU-->
            <section style="margin-right: -300px;">
                
                <a href="" style="color: #faf7f7;">aei</a>
                <a href="" style="color: black;"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
                <a href="" style="color: #faf7f7;"></a>
            </section>
            <div>
                <section style="margin-left: 100px;">
                    
                </section>
                <ul>
                    <li class="submenu">
                        <a href="" style="color: #faf7f7;">aei</a>
                        <a href="" style="color: black;"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                        
                        
                        <div id="carrito" >
                            <table id="lista-carrito" >
                                <thead>
                                    <tr>
                                        <th>Imagenes</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                               <tbody></tbody> 
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-content container">
            <div class="header-txt">
                <div class="carrusel">
                    <div class="carrusel-imagenes">
                        <!-- Imagen 1 -->
                        <div class="carrusel-item">
                            <img src="/tienda/img/WhatsApp Image 2024-11-21 at 14.49.17.jpeg" alt="Imagen 1">
                        </div>
                        <!-- Video 1 -->
                        <div class="carrusel-item">
                            <video autoplay muted loop>
                                <source src="/tienda/img/WhatsApp Video 2024-11-21 at 14.49.20.mp4" type="video/mp4">
                            </video>
                        </div>
                        <!-- Imagen 2 -->
                        <div class="carrusel-item">
                            <img src="/tienda/img/WhatsApp Image 2024-11-21 at 14.49.36.jpeg" alt="Imagen 2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="products container" id="lista-1">
        <h2>¡Todos nuestros bolsos!</h2>
       <div class="product-content">
        <div class="product" style="background: linear-gradient(to bottom, #000000, #ffffff);">
            <img src="/tienda/img/bolso_corazon.jpeg" alt="" class="img">
            <div class="product-txt">
                <h3>Bolso Corazón</h3>
                <p>Crochet</p>
                <p class="precio">$70.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="1">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="/tienda/img/cartera_mini.jpeg" alt="">
            <div class="product-txt">
                <h3>Cartera Mini</h3>
                <p>Crochet</p>
                <p class="precio">$50.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="2">Agregar al carrito</a>
            </div>
        </div>
        <div class="product" style="background: linear-gradient(to bottom, #000000, #ffffff);">
            <img src="/tienda/img/cartera_copitos.jpeg" alt="">
            <div class="product-txt">
                <h3>Cartera Copitos</h3>
                <p>Crochet</p>
                <p class="precio">$80.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="3">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="/tienda/img/mochila_grande.jpeg" alt="">
            <div class="product-txt">
                <h3>Mochila Grande</h3>
                <p>Crochet</p>
                <p class="precio">$80.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="4">Agregar al carrito</a>
            </div>
        </div>
        <div class="product" style="background: linear-gradient(to bottom, #000000, #ffffff);">
            <img src="/tienda/img/cartera_oreo.jpeg" alt="">
            <div class="product-txt">
                <h3>Cartera Oreo</h3>
                <p>Crochet</p>
                <p class="precio">$70.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="/tienda/img/morral_mediano.jpeg" alt="">
            <div class="product-txt">
                <h3>Morral Mediano</h3>
                <p>Crochet</p>
                <p class="precio">$60.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>
        <div class="product" style="background: linear-gradient(to bottom, #000000, #ffffff);">
            <img src="/tienda/img/cartera.jpeg" alt="">
            <div class="product-txt">
                <h3>Cartera</h3>
                <p>Crochet</p>
                <p class="precio">$60.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="/tienda/img/bolso_medialuna.jpeg" alt="">
            <div class="product-txt">
                <h3>Bolso Media Luna</h3>
                <p>Crochet</p>
                <p class="precio">$50.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>
        <div class="product" style="background: linear-gradient(to bottom, #000000, #ffffff);">
            <img src="/tienda/img/cartera_lila.jpeg" alt="">
            <div class="product-txt">
                <h3>Cartera Lila</h3>
                <p>Crochet</p>
                <p class="precio">$60.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="/tienda/img/mochila_mediana.jpeg" alt="">
            <div class="product-txt">
                <h3>Mochila Mediana</h3>
                <p>Crochet</p>
                <p class="precio">$50.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>
        <div class="product" style="background: linear-gradient(to bottom, #000000, #ffffff);">
            <img src="/tienda/img/bolso_blanco.jpeg" alt="">
            <div class="product-txt">
                <h3>Bolso Blanco</h3>
                <p>Crochet</p>
                <p class="precio">$70.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
            </div>
        </div>
        <div class="product">
            <img src="/tienda/img/cartera_rosa.jpeg" alt="">
            <div class="product-txt">
                <h3>Cartera Rosita</h3>
                <p>Crochet</p>
                <p class="precio">$60.000</p>
                <a href="#" class="agregar-carrito btn-2" data-id="6">Agregar al carrito</a>
            </div>
        </div>
       </div> 
    </main>

  


    <!--FOOTER-->

    <footer class="footer">
        <div class="footer-content container">
            
            <div class="link" style="margin-left: 200px;">
                <h3>Ubicación</h3>
                <ul>
                    <li><a href="#" style="color: #ffffff;"> <i class="fa-solid fa-location-dot"></i> Bello, Antioquia</a></li>
                    
                    
                    
                </ul>
            </div>
            <div class="link" >
                <h3>Contáctanos</h3>
                <ul>
                    <li><a href="#" style="color: #ffffff;"> <i class="fa-brands fa-whatsapp"></i> 302 250 13 73</a></li>
                    <li><a href="#" style="color: #ffffff;"> <i class="fa-regular fa-envelope"></i> darashelui@gmail.com</a></li>
                    
                </ul>
            </div>
            <div class="link" style="margin-right: 230px;">
                <h3>Síguenos</h3>
                <ul>
                    <li><a href="https://www.instagram.com/reishelseg/" style="color: #ffffff;"> <i class="fa-brands fa-instagram"></i> reishelseg</a></li>
                    <li><a href="https://www.facebook.com/people/reishel/61567383540031/?rdid=UFQZqmCQQ1YlRfO4&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1DDKgRPSbW%2F" style="color: #ffffff;"> <i class="fa-brands fa-facebook"></i> Reishel</a></li>
                    
                </ul>
            </div>
            
        </div>
    </footer>
    <section class="final">
        <p style="text-align: center;">© 2024 Reishel. Todos los derechos reservados.</p>
    </section>


   
    

   
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/48070539.js"></script>
<!-- End of HubSpot Embed Code -->
 <script src="/tienda/controllers/carrito.js"></script>
</body>
</html>