<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reishel</title>
    <link rel="icon" href="/tienda/img/logo_letra.jpg">
    <link rel="stylesheet" href="/tienda/public/css/prueba.css">
    <script src="https://kit.fontawesome.com/e8eddfdd15.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="anuncio">
        <p>¡Envios a todo Medellín!
            <a href="https://www.instagram.com/reishelseg/" target="_blank"><i class="fa-brands fa-instagram"></i></a> |
            <a href="https://www.facebook.com/people/reishel/61567383540031/?rdid=UFQZqmCQQ1YlRfO4&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1DDKgRPSbW%2F" target="_blank"><i class="fa-brands fa-facebook"></i></a> |
            <a href="https://www.google.com/maps/dir/6.3176704,-75.5433472/6.320109,-75.54976/@6.3156024,-75.5589548,15z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0?entry=ttu&g_ep=EgoyMDI0MTExOC4wIK" target="_blank"><i class="fa-solid fa-location-dot"></i></a> |
            <a href="https://workspace.google.com/intl/es-419/gmail/"><i class="fa-regular fa-envelope"></i></a> |
        </p>
    </div>

   
    <header class="header">

        <!--MENU-->
        
        <div class="menu container">
            <a href="" ><img src="/tienda/img/logo.png" alt="" style="margin-bottom: px; width: 170px;"></a>
            <input type="chackbox" id="menu" />
            <label for="menu">
                <img class="menu-icono" alt="menu">
            </label>

            <!--NAVBAR-->

                <nav class="navbar" style="margin-right: 100px;">
                    <ul>
                        <li><a href="prueba.html">INICIO</a></li>
                        <li><a href="quienes_somos.html">QUIENES SOMOS</a></li>
                        <li><a href="materiales.html">MATERIALES</a></li>
                        <li><a href="contactanos.html">CONTÁCTANOS</a></li>
                        <li><a href="login.html">MI CUENTA</a></li>
                    </ul>
                </nav>


            <!--SUBMENU-->
            <section style="margin-right: -300px;">
                
                <a href="" style="color: #faf7f7;">aei</a>
                <a href="" style="color: black;"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
                <a href="" style="color: #faf7f7;"></a>
            </section>
            <div>
                <section style="margin-left: 100px;">
                    
                </section>
                <ul>
                    <li class="submenu">
                        <a href="" style="color: #faf7f7;">aei</a>
                        <a href="" style="color: black;"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                        
                        
                        <div id="carrito" >
                            <table id="lista-carrito" >
                                <thead>
                                    <tr>
                                        <th>Imagenes</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                               <tbody></tbody> 
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-content container">
            <div class="header-txt">
                <div class="carrusel">
                    <div class="carrusel-imagenes">
                        <!-- Imagen 1 -->
                        <div class="carrusel-item">
                            <img src="/tienda/img/WhatsApp Image 2024-11-21 at 14.49.17.jpeg" alt="Imagen 1">
                        </div>
                        <!-- Video 1 -->
                        <div class="carrusel-item">
                            <video autoplay muted loop>
                                <source src="/tienda/img/WhatsApp Video 2024-11-21 at 14.49.20.mp4" type="video/mp4">
                            </video>
                        </div>
                        <!-- Imagen 2 -->
                        <div class="carrusel-item">
                            <img src="/tienda/img/WhatsApp Image 2024-11-21 at 14.49.36.jpeg" alt="Imagen 2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="products container" id="lista-1">
        <h2>¡Todos nuestros bolsos!</h2>
        <!-- Tarjeta 1 -->
    <div class="producto-card" style="margin-left: -30px;">
        <div class="producto-img-container">
            <img src="/tienda/img/bolso_corazon.jpeg" alt="Cartera Corazón" class="producto-img principal">
            <img src="/tienda/img/bolso_corazon2.jpeg" alt="Cartera Corazón Hover" class="producto-img hover">
            <label for="modal-1" class="btn-vista-rapida" style="background-color: #000;">Ver Más</label>
        </div>
        <div class="producto-detalles">
            <h3 style="margin-left: -10px;">CORAZÓN</h3>
                <div class="rating">
                    <span class="estrella" data-value="5">&#9733;</span>
                    <span class="estrella" data-value="4">&#9733;</span>
                    <span class="estrella" data-value="3">&#9733;</span>
                    <span class="estrella" data-value="2">&#9733;</span>
                    <span class="estrella" data-value="1">&#9733;</span>
                </div>
            <p class="precio" style="text-align: center;">$60,000</p>
            <div class="color-circle" style="background-color: rgb(181, 51, 51);"></div>
            <button class="btn-añadir" data-id="1" style="margin-left: 10px; background-color: #000; color: #ffffff;">Añadir al carrito</button>
        </div>
    </div>
    <!-- Modal 1 -->
    <input type="checkbox" id="modal-1" class="modal-checkbox">
    <div class="modal">
        <div class="modal-content">
            <label for="modal-1" class="close-btn">&times;</label>
            <div class="modal-img-container">
                <img style="width: 290px; height: 300px;" src="/tienda/img/bolso_corazon.jpeg" alt="Cartera Corazón">
            </div>
            <div class="modal-details">
                <h3 style="margin-bottom: 15px;">CARTERA CORAZÓN</h3>
                <p>Este exclusivo bolso de crochet está hecho a mano con amor y atención al detalle. <br> <br> ¡Lleva contigo un
                    pedacito de arte en cada paso!</p>
                <p class="precio" style="margin-top: 20px;">$60,000</p>
                <div class="color-circle" style="background-color: rgb(181, 51, 51); margin-left: 85px;"></div>
                <button class="btn-añadir" data-id="1" style="background-color: #000; margin-left: 200px;">Añadir al carrito</button>
            </div>
        </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="producto-card" style="margin-left: 290px; margin-top: -635px;">
        <div class="producto-img-container">
            <img src="/tienda/img/cartera_oreo.jpeg" alt="Cartera Luna" class="producto-img principal">
            <img src="/tienda/img/cartera_oreo2.jpeg" alt="Cartera Luna Hover" class="producto-img hover">
            <label for="modal-2" class="btn-vista-rapida" style="background-color: #000;">Ver Más</label>
        </div>
        <div class="producto-detalles">
            <h3 style="margin-left: -10px;">BOLSO OREO</h3>
                <div class="rating">
                    <span class="estrella" data-value="5">&#9733;</span>
                    <span class="estrella" data-value="4">&#9733;</span>
                    <span class="estrella" data-value="3">&#9733;</span>
                    <span class="estrella" data-value="2">&#9733;</span>
                    <span class="estrella" data-value="1">&#9733;</span>
                </div>
            <p class="precio"style="text-align: center;">$70,000</p>
            <div class="color-circle" style="background-color: rgb(51, 102, 153);"></div>
            <button class="btn-añadir" data-id="2" style="background-color: #000; margin-left: 10px;">Añadir al carrito</button>
        </div>
    </div>
    <!-- Modal 2 -->
    <input type="checkbox" id="modal-2" class="modal-checkbox">
    <div class="modal">
        <div class="modal-content">
            <label for="modal-2" class="close-btn">&times;</label>
            <div class="modal-img-container">
                <img style="width: 290px; height: 300px;" src="/tienda/img/cartera_oreo.jpeg" alt="Cartera Luna">
            </div>
            <div class="modal-details">
                <h3 style="margin-bottom: 15px;">BOLSO OREO</h3>
                <p style="margin-bottom: 20px;">Bolso tejido a mano, ideal para cualquier ocasión.</p>
                <p class="precio">$70,000</p>
                <div class="color-circle" style="background-color: rgb(51, 102, 153); margin-left: 85px;"></div>
                <button class="btn-añadir" data-id="2" style="background-color: #000; margin-left: 200px;">Añadir al carrito</button>
            </div>
        </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="producto-card" style="margin-left: 610px; margin-top: -635px;">
        <div class="producto-img-container">
            <img src="/tienda/img/cartera_rosa.jpeg" alt="Cartera Flor" class="producto-img principal">
            <img src="/tienda/img/cartera_rosa2.jpeg" alt="Cartera Flor Hover" class="producto-img hover">
            <label for="modal-3" class="btn-vista-rapida" style="background-color: #000;">Ver Más</label>
        </div>
        <div class="producto-detalles">
            <h3 style="margin-left: -10px;">CARTERA ROSA</h3>
                <div class="rating">
                    <span class="estrella" data-value="5">&#9733;</span>
                    <span class="estrella" data-value="4">&#9733;</span>
                    <span class="estrella" data-value="3">&#9733;</span>
                    <span class="estrella" data-value="2">&#9733;</span>
                    <span class="estrella" data-value="1">&#9733;</span>
                </div>
            <p class="precio" style="text-align: center;">$70,000</p>
            <div class="color-circle" style="background-color: rgb(248, 197, 222); "></div>
            <button class="btn-añadir" data-id="3" style="background-color: #000; margin-left: 10px">Añadir al carrito</button>
        </div>
    </div>
    <!-- Modal 3 -->
    <input type="checkbox" id="modal-3" class="modal-checkbox">
    <div class="modal">
        <div class="modal-content">
            <label for="modal-3" class="close-btn">&times;</label>
            <div class="modal-img-container">
                <img style="width: 300px; height: 340px;" src="/tienda/img/cartera_rosa.jpeg" alt="Cartera Flor">
            </div>
            <div class="modal-details">
                <h3 style="margin-bottom: 15px;">CARTERA ROSA</h3>
                <p style="margin-bottom: 20px;">Un diseño elegante. Perfecto para un momento especial.</p>
                <p class="precio">$70,000</p>
                <div class="color-circle" style="background-color: rgb(248, 197, 222); margin-left: 95px;"></div>
                <button class="btn-añadir" data-id="3" style="background-color: #000; margin-left: 200px;">Añadir al carrito</button>
            </div>
        </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="producto-card" style="margin-left: 930px; margin-top: -635px;">
        <div class="producto-img-container">
            <img src="/tienda/img/cartera_lila.jpeg" alt="Cartera Luna" class="producto-img principal">
            <img src="/tienda/img/cartera_lila2.jpeg" alt="Cartera Luna Hover" class="producto-img hover">
            <label for="modal-3" class="btn-vista-rapida" style="background-color: #000;">Ver Más</label>
        </div>
        <div class="producto-detalles">
            <h3 style="margin-left: -10px;">CARTERA LUJO</h3>
                <div class="rating">
                    <span class="estrella" data-value="5">&#9733;</span>
                    <span class="estrella" data-value="4">&#9733;</span>
                    <span class="estrella" data-value="3">&#9733;</span>
                    <span class="estrella" data-value="2">&#9733;</span>
                    <span class="estrella" data-value="1">&#9733;</span>
                </div>
            <p class="precio" style="text-align: center;">$60,000</p>
            <div class="color-circle" style="background-color: rgb(202, 176, 218);"></div>
            <button class="btn-añadir" data-id="4" style="background-color: #000; margin-left: 10px;">Añadir al carrito</button>
        </div>
    </div>
    <!-- Modal 3 -->
    <input type="checkbox" id="modal-3" class="modal-checkbox">
    <div class="modal">
        <div class="modal-content">
            <label for="modal-3" class="close-btn">&times;</label>
            <div class="modal-img-container">
                <img style="width: 300px; height: 340px;" src="/tienda/img/cartera_lila.jpeg" alt="Cartera Luna">
            </div>
            <div class="modal-details">
                <h3 style="margin-bottom: 15px;">CARTERA LUJO</h3>
                <p style="margin-bottom: 20px;">Bolso tejido a mano, ideal para cualquier ocasión.</p>
                <p class="precio">$60,000</p>
                <div class="color-circle" style="background-color: rgb(202, 176, 218); margin-left: 95px;"></div>
                <button class="btn-añadir" data-id="4" style="background-color: #000; margin-left: 200px;">Añadir al carrito</button>
            </div>
        </div>
    </div>
    
    <!-- Tarjeta 4 -->
    <div class="producto-card" style="margin-left: -30px; margin-top: 20px;">
        <div class="producto-img-container">
            <img src="/tienda/img/mochila_grande.jpeg" alt="Cartera Flor" class="producto-img principal">
            <img src="/tienda/img/mochila_grande2.jpeg" alt="Cartera Flor Hover" class="producto-img hover">
            <label for="modal-4" class="btn-vista-rapida" style="background-color: #000;">Ver Más</label>
        </div>
        <div class="producto-detalles">
            <h3 style="margin-left: -10px;">MOCHILA GRANDE</h3>
                <div class="rating">
                    <span class="estrella" data-value="5">&#9733;</span>
                    <span class="estrella" data-value="4">&#9733;</span>
                    <span class="estrella" data-value="3">&#9733;</span>
                    <span class="estrella" data-value="2">&#9733;</span>
                    <span class="estrella" data-value="1">&#9733;</span>
                </div>
            <p class="precio" style="text-align: center;">$70,000</p>
            <div class="color-circle" style="background-color: #a1a1a1;" title="Azul oscuro"></div>
            
            <button class="btn-añadir" data-id="5" style="background-color: #000; margin-left: 10px;">Añadir al carrito</button>
        </div>
    </div>
    <!-- Modal 4 -->
    <input type="checkbox" id="modal-4" class="modal-checkbox">
    <div class="modal">
        <div class="modal-content">
            <label for="modal-4" class="close-btn">&times;</label>
            <div class="modal-img-container">
                <img style="width: 300px; height: 340px;" src="/tienda/img/mochila_grande.jpeg" alt="Cartera Flor">
            </div>
            <div class="modal-details">
                <h3 style="margin-bottom: 15px;">MOCHILA GRANDE</h3>
                <p style="margin-bottom: 20px;">Un diseño elegante. Perfecto para un momento especial.</p>
                <p class="precio">$70,000</p>
                <div class="color-circle" style="background-color: rgb(172, 172, 172); margin-left: 95px;"></div>
                <button class="btn-añadir" data-id="5" style="background-color: #000; margin-left: 200px;">Añadir al carrito</button>
            </div>
        </div>
    </div>
    
    <!-- Tarjeta 5 -->
    <div class="producto-card" style="margin-left: 930px; margin-top: -635px;">
        <div class="producto-img-container">
            <img src="/tienda/img/mochila_mediana.jpeg" alt="Cartera Urbana" class="producto-img principal">
            <img src="/tienda/img/mochila_mediana2.jpeg" alt="Cartera Urbana Hover" class="producto-img hover">
            <label for="modal-5" class="btn-vista-rapida" style="background-color: #000;">Ver Más</label>
        </div>
        <div class="producto-detalles">
            <h3 style="margin-left: -10px;">MOCHILA MEDIANA</h3>
                <div class="rating">
                    <span class="estrella" data-value="5">&#9733;</span>
                    <span class="estrella" data-value="4">&#9733;</span>
                    <span class="estrella" data-value="3">&#9733;</span>
                    <span class="estrella" data-value="2">&#9733;</span>
                    <span class="estrella" data-value="1">&#9733;</span>
                </div>
            <p class="precio" style="text-align: center;">$60,000</p>
                        
                    <div class="color-circle" style="background-color: #092b69;" title="Azul oscuro"></div>
                    
                        
            <button class="btn-añadir" data-id="5" style="background-color: #000; margin-left: 10px;">Añadir al carrito</button>
        </div>
    </div>
    <!-- Modal 5 -->
    <input type="checkbox" id="modal-5" class="modal-checkbox">
    <div class="modal">
        <div class="modal-content">
            <label for="modal-5" class="close-btn">&times;</label>
            <div class="modal-img-container">
                <img style="width: 300px; height: 340px;" src="/tienda/img/mochila_mediana.jpeg" alt="Cartera Urbana">
            </div>
            <div class="modal-details">
                <h3 style="margin-bottom: 15px;">MOCHILA MEDIANA</h3>
                <p style="margin-bottom: 20px;">Bolso práctico y moderno para un estilo de vida dinámico.</p>
                <p class="precio">$60,000</p>
                <div class="color-circle" style="background-color: rgb(102, 102, 102); margin-left: 95px;"></div>
                <button class="btn-añadir" data-id="5" style="background-color: #000; margin-left: 200px;">Añadir al carrito</button>
            </div>
        </div>
    </div>
    
   
    <!-- Tarjeta 7 -->
    <div class="producto-card" style="margin-left: 610px; margin-top: -635px;">
        <div class="producto-img-container">
            <img src="/tienda/img/bolso_medialuna.jpeg" alt="Cartera Tejida" class="producto-img principal">
            <img src="/tienda/img/bolso_medialuna2.jpeg" alt="Cartera Tejida Hover" class="producto-img hover">
            <label for="modal-7" class="btn-vista-rapida" style="background-color: #000;">Ver Más</label>
        </div>
        <div class="producto-detalles">
            <h3 style="margin-left: -10px;">CARTERA MEDIA LUNA</h3>
                <div class="rating">
                    <span class="estrella" data-value="5">&#9733;</span>
                    <span class="estrella" data-value="4">&#9733;</span>
                    <span class="estrella" data-value="3">&#9733;</span>
                    <span class="estrella" data-value="2">&#9733;</span>
                    <span class="estrella" data-value="1">&#9733;</span>
                </div>
            <p class="precio" style="text-align: center;">$50,000</p>
            <div class="color-circle" style="background-color: rgb(126, 29, 42);"></div>
            <button class="btn-añadir" data-id="6" style="background-color: #000; margin-left: 10px;">Añadir al carrito</button>
        </div>
    </div>
    <!-- Modal 7 -->
    <input type="checkbox" id="modal-7" class="modal-checkbox">
    <div class="modal">
        <div class="modal-content">
            <label for="modal-7" class="close-btn">&times;</label>
            <div class="modal-img-container">
                <img style="width: 300px; height: 340px;" src="/tienda/img/bolso_medialuna.jpeg" alt="Cartera Tejida">
            </div>
            <div class="modal-details">
                <h3>CARTERA MEDIA LUNA</h3>
                <p>Diseño artesanal en crochet para un estilo único y natural.</p>
                <p class="precio">$50,000</p>
                <div class="color-circle" style="background-color: rgb(126, 29, 42);margin-left: 95px;"></div>
                <button class="btn-añadir" data-id="6" style="background-color: #000;margin-left: 200px;">Añadir al carrito</button>
            </div>
        </div>
    </div>
    
    <!-- Tarjeta 8 -->
    <div class="producto-card" style="margin-left: 290px; margin-top: -639px;">
        <div class="producto-img-container">
            <img src="/tienda/img/cartera.jpeg" alt="Cartera Casual" class="producto-img principal">
            <img src="/tienda/img/cartera2.jpeg" alt="Cartera Casual Hover" class="producto-img hover">
            <label for="modal-8" class="btn-vista-rapida" style="background-color: #000;">Ver Más</label>
        </div>
        <div class="producto-detalles">
            <h3 style="margin-left: -10px;">CARTERA</h3>
                <div class="rating">
                    <span class="estrella" data-value="5">&#9733;</span>
                    <span class="estrella" data-value="4">&#9733;</span>
                    <span class="estrella" data-value="3">&#9733;</span>
                    <span class="estrella" data-value="2">&#9733;</span>
                    <span class="estrella" data-value="1">&#9733;</span>
                </div>
            <p class="precio" style="text-align: center;">$60,000</p>
            <div class="color-circle" style="background-color: rgb(43, 43, 43);"></div>
            <button class="btn-añadir" data-id="7" style="background-color: #000; margin-left: 10px;">Añadir al carrito</button>
        </div>
    </div>
    <!-- Modal 8 -->
    <input type="checkbox" id="modal-8" class="modal-checkbox">
    <div class="modal">
        <div class="modal-content">
            <label for="modal-8" class="close-btn">&times;</label>
            <div class="modal-img-container">
                <img style="width: 300px; height: 340px;" src="/tienda/img/cartera.jpeg" alt="Cartera Casual">
            </div>
            <div class="modal-details">
                <h3>CARTERA</h3>
                <p>Un bolso versátil para complementar cualquier atuendo diario.</p>
                <p class="precio">$60,000</p>
                <div class="color-circle" style="background-color: rgb(43, 43, 43);margin-left: 95px;"></div>
                <button class="btn-añadir" data-id="7" style="background-color: #000;margin-left: 200px;">Añadir al carrito</button>
            </div>
        </div>
    </div>
    
    <!-- Tarjeta 9 -->
    <div class="producto-card" style="margin-top: 20px; margin-left: 290px;">
        <div class="producto-img-container">
            <img src="/tienda/img/cartera_copitos.jpeg" alt="Cartera Arcoiris" class="producto-img principal">
            <img src="/tienda/img/cartera_copitos2.jpeg" alt="Cartera Arcoiris Hover" class="producto-img hover">
            <label for="modal-9" class="btn-vista-rapida" style="background-color: #000;">Ver Más</label>
        </div>
        <div class="producto-detalles">
            <h3 style="margin-left: -10px;">CARTERA COPITOS</h3>
                <div class="rating">
                    <span class="estrella" data-value="5">&#9733;</span>
                    <span class="estrella" data-value="4">&#9733;</span>
                    <span class="estrella" data-value="3">&#9733;</span>
                    <span class="estrella" data-value="2">&#9733;</span>
                    <span class="estrella" data-value="1">&#9733;</span>
                </div>
            <p class="precio" style="text-align: center;">$80,000</p>
            <div class="color-circle" style="background-color: rgb(214, 214, 214);"></div>
            <button class="btn-añadir" data-id="8" style="background-color: #000; margin-left: 10px;">Añadir al carrito</button>
        </div>
    </div>
    <!-- Modal 9 -->
    <input type="checkbox" id="modal-9" class="modal-checkbox">
    <div class="modal">
        <div class="modal-content">
            <label for="modal-9" class="close-btn">&times;</label>
            <div class="modal-img-container">
                <img style="width: 300px; height: 340px;" src="/tienda/img/cartera_copitos.jpeg" alt="Cartera Arcoiris">
            </div>
            <div class="modal-details">
                <h3 style="margin-bottom: 15px;">CARTERA COPITOS</h3>
                <p style="margin-bottom: 20px;">Colores vibrantes y diseño alegre, ideal para destacar en cualquier lugar.</p>
                <p class="precio">$80,000</p>
                <div class="color-circle" style="background-color: rgb(214, 214, 214); margin-left: 95px;"></div>
                <button class="btn-añadir" data-id="8" style="background-color: #000; margin-left: 200px;">Añadir al carrito</button>
            </div>
        </div>
    </div>
    
    <!-- Tarjeta 10 -->
    <div class="producto-card" style="margin-top: -635px; margin-left: 610px;">
        <div class="producto-img-container">
            <img src="/tienda/img/bolso_blanco.jpeg" alt="Cartera Cuero" class="producto-img principal">
            <img src="/tienda/img/bolso_blanco2.jpeg" alt="Cartera Cuero Hover" class="producto-img hover">
            <label for="modal-10" class="btn-vista-rapida" style="background-color: #000;">Ver Más</label>
        </div>
        <div class="producto-detalles">
            <h3 style="margin-left: -10px;">BOLSO</h3>
                <div class="rating">
                    <span class="estrella" data-value="5">&#9733;</span>
                    <span class="estrella" data-value="4">&#9733;</span>
                    <span class="estrella" data-value="3">&#9733;</span>
                    <span class="estrella" data-value="2">&#9733;</span>
                    <span class="estrella" data-value="1">&#9733;</span>
                </div>
            <p class="precio" style="text-align: center;">$50,000</p>
            <div class="color-circle" style="background-color: rgb(216, 215, 213);"></div>
            <button class="btn-añadir" data-id="9" style="background-color: #000; margin-left: 10px;">Añadir al carrito</button>
        </div>
    </div>
    <!-- Modal 10 -->
    <input type="checkbox" id="modal-10" class="modal-checkbox">
    <div class="modal">
        <div class="modal-content">
            <label for="modal-10" class="close-btn">&times;</label>
            <div class="modal-img-container">
                <img style="width: 300px; height: 340px;" src="/tienda/img/bolso_blanco.jpeg" alt="Cartera Cuero">
            </div>
            <div class="modal-details">
                <h3 style="margin-bottom: 15px;">CARTERA CUERO</h3>
                <p style="margin-bottom: 20px;">Bolso clásico de cuero para un toque de elegancia atemporal.</p>
                <p class="precio">$50,000</p>
                <div class="color-circle" style="background-color: rgb(214, 214, 214); margin-left: 95px;"></div>
                <button class="btn-añadir" data-id="9" style="background-color: #000; margin-left: 200px;">Añadir al carrito</button>
            </div>
        </div>
    </div>
    </main>



    <!--FOOTER-->

    <footer class="footer" style="margin-bottom: -100px;  ">
        <div class="footer-content container" style="width: 2000vh;">
            
            <div class="link" style="margin-left: 200px;">
                <h3>Ubicación</h3>
                <ul>
                    <li><a href="#" style="color: #ffffff;"> <i class="fa-solid fa-location-dot"></i> Bello, Antioquia</a></li>
                    
                    
                    
                </ul>
            </div>
            
            <div class="link" >
                <h3>Contáctanos</h3>
                <ul>
                    <li><a href="#" style="color: #ffffff;"> <i class="fa-brands fa-whatsapp"></i> 302 250 13 73</a></li>
                    <li><a href="#" style="color: #ffffff;"> <i class="fa-regular fa-envelope"></i> darashelui@gmail.com</a></li>
                    
                </ul>
            </div>
            <div class="link" style="margin-right: 230px; ">
                <h3>Síguenos</h3>
                <ul>
                    <li><a href="https://www.instagram.com/reishelseg/" style="color: #ffffff;"> <i class="fa-brands fa-instagram"></i> reishelseg</a></li>
                    <li><a href="https://www.facebook.com/people/reishel/61567383540031/?rdid=UFQZqmCQQ1YlRfO4&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1DDKgRPSbW%2F" style="color: #ffffff;"> <i class="fa-brands fa-facebook"></i> Reishel</a></li>
                    
                </ul>
            </div>
            
        </div>
    </footer>
    <!-- <section class="final">
        <p style="text-align: center;">© 2024 Reishel. Todos los derechos reservados.</p>
    </section> -->


   
    

   
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/48070539.js"></script>
<!-- End of HubSpot Embed Code -->
 <script src="/tienda/controllers/carrito.js"></script>
</body>
</html>