@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #faf7f7;
}

img {
    max-width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.anuncio {
    background-color: grey;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    animation: mostrarAnuncio 20s ease-out forwards;
}

.anuncio p {
    margin: 0;
}

.anuncio a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

.anuncio a:hover {
    text-decoration: underline;
}

/* Animación para desaparecer el anuncio */
@keyframes mostrarAnuncio {
    0% {
        opacity: 3;
        top: 0;
    }

    80% {
        opacity: 3;
    }

    100% {
        opacity: 0;
        top: -50px;
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}
.logo img {
    width: 160px;
}

body {
    font-family: Arial, sans-serif;
}


.container {
    border: 3px solid black; 
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
    background: linear-gradient(to bottom, grey, white);
  }
  
  [type="checkbox"] {
    display: none;
  }
  
  [type="checkbox"]:checked + label::before {
    background: var(--cnegro);
    transition: 0.5s;
    transform: rotate(180deg);
  }
  
  [type="checkbox"]:checked + label {
    color: var(--cnegro);
  }
  
  
  
  .form {
    
    border-top: 2px solid white;
    max-width: 400px;
    padding: 30px 50px;
    margin: auto;
    margin-top: 10px;
    background: #faf7f7;
  }
  
  .form-titulo {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }
  
  .form-input {
    margin-bottom: 30px;
  }
  
  .form-input label {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    color: black;
  }
  
  .form-input input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
  }
  
  .form-input input:focus + label {
    font-weight: bold;
    color: black;
  }
  
  
  .form-boton {
    background: black;
    color: #ffffff;
    padding: 7px 5px;
    font-size: 25px;
    display: block;
    margin: auto;
    margin-top: 40px;
    border: none;
    border-radius: 10px;
  }
  .form-boton:hover{
    transition: all 0.2s ease-in-out;
  }

  .mensajeError {
    color: red;
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .mensajeCorrecto {
    text-align: center;
    font-weight: bold;
  } 